
* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    color: rgb(30, 179, 186);
}

#container {
    height: 100vh;
    width: 100%;
    position: relative;
    background: #565656;
}


#content {
    height: 100%;
    width: 100%;
    position: absolute;
       

    top: calc(50% - 250px);
}


#content h2 {
    font-size: 200px;
    color: rgb(25, 201, 149);
}


#content p {
    font-size: 100px;
    color: rgb(25, 201, 149);
}


#content button {
    width: 35%;
    height: 40px;
    font-size: 16px;
    font-family: sans-serif;
    margin-top: 5vh;
    margin-left: center;
    border: none;
    outline: none;
    border-radius: 20px;
    background: dodgerblue;
    color: white;
}


#content button:hover {
    background: navy;
}
#aSide {
    height: 600px;
    width: 600px;
    position: absolute;
    top: 50px;
    left: 600px;
}


#aSide model-viewer {
    height: 100%;
    width: 1900px;
    position: left;
    top: 0;
    left: 0;
    border: none;
}
